<?xml version="1.0"?>
<model>
  <name>cubefixed</name>
  <version>1.0</version>
  <!-- <sdf version="1.6">model://simplified_df_bot_description/models/my_cube_model/model.sdf</sdf> -->
  <sdf version="1.6">/home/peraspera/test_ws/src/simplified_df_bot_description/models/my_cube_model/model.sdf</sdf>
</model>
