<launch>

  <rosparam file="$(find simplified_df_bot_description)/launch/controller_joints.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="simplified_df_bot" args="joint_state_controller 
  arm_01_joint_01_position_controller arm_01_joint_03_position_controller arm_01_joint_04_position_controller arm_01_joint_05_position_controller arm_01_joint_06_position_controller arm_01_joint_02_position_controller 
  arm_02_joint_01_position_controller arm_02_joint_02_position_controller arm_02_joint_03_position_controller arm_02_joint_04_position_controller arm_02_joint_05_position_controller arm_02_joint_06_position_controller 
  arm_03_joint_01_position_controller arm_03_joint_02_position_controller arm_03_joint_03_position_controller arm_03_joint_04_position_controller arm_03_joint_05_position_controller arm_03_joint_06_position_controller  "/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/simplified_df_bot/joint_states"/>
  </node>

</launch>